.Games {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.Games h1 {
  font-family: inherit;
  font-weight: 300;
  font-size: 28px;
  grid-column: span 2;
}

.Games img {
  max-width: 600px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 1px solid black;
}

@media (max-width: 800px) {
  .Games {
    grid-template-columns: 1fr;
  }

  .Games h1 {
    grid-column: span 1;
  }
}
