.NaturalDisasters {
  font-family: Arial, Helvetica, sans-serif;

  box-sizing: border-box;

  --mainBlue: rgb(23, 74, 131);
  --mRed: rgb(238 135 145);
  --mGreen: rgb(171 204 91);
  --mLightGreen: rgb(197 219 138);
  --mOrange: rgb(251 200 112);

  width: 100vw;
  height: 100vh;

  padding: 20px;
}

.NaturalDisasters input {
  border: 1px solid var(--mainBlue);
}

.NaturalDisasters col {
  width: 200px;
}

.NaturalDisasters table {
  flex: 4;

  font-size: 22px;
  border-collapse: collapse;
  text-align: center;

  border: 2px solid;
}

.NaturalDisasters th,
.NaturalDisasters td {
  border: 1px solid black;

  height: 50px;
}

.NaturalDisasters h1 {
  font-weight: 400;
  padding: 8px 16px;
  color: var(--mainBlue);
  display: block;
  margin: 20px auto;
  width: fit-content;
  background-color: white;

  font-size: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  padding: 20px;

  border: 6px solid var(--mainBlue);
  min-height: fit-content;
  height: calc(100% - 52px);
  background-image: url('/images/disasters.jpeg');
  background-size: cover;
}

.text {
  display: flex;
  flex-direction: column;

  text-align: center;
  font-size: 20px;
  padding: 20px;
  background-color: white;
}

.text strong {
  display: block;
  margin-top: 20px;
}

.game {
  display: flex;
  gap: 20px;
}

.desc {
  background-color: white;
  padding: 10px;
  width: fit-content;

  font-size: 18px;
}

.descContent {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.rules {
  width: fit-content;
  margin-top: -50px;
  margin-left: -10px;
}

.rules > div {
  padding: 8px 10px;
}

.rules span {
  display: inline-block;
  width: fit-content;
  background-color: white;

  border-radius: 50%;

  padding: 5px;
  margin-right: 10px;
  font-size: 14px;
}

.topLevel {
  background-color: var(--mGreen);
}

.preTopLevel {
  background-color: var(--mLightGreen);
}

.middle {
  background-color: var(--mOrange);
}

.bad {
  background-color: var(--mRed);
}

.temper {
  grid-row: 1/5;
  max-height: 280px;
  background-position: 1px 1px;
  background-repeat: no-repeat;
  background-size: calc(100% - 3px) calc(100% - 3px);
}

.red {
  background-image: linear-gradient(to top, var(--mRed) 80%, white 10%);
}

.orange {
  background-image: linear-gradient(to top, var(--mOrange) 80%, white 10%);
}

.lgreen {
  background-image: linear-gradient(to top, var(--mLightGreen) 80%, white 10%);
}

.green {
  background-image: linear-gradient(to top, var(--mGreen) 80%, white 10%);
}

/* Редакторы */

.titleInput {
  font-weight: 400;
  padding: 8px 16px;
  color: var(--mainBlue);
  display: block;
  margin: 20px auto;
  width: fit-content;
  background-color: white;

  text-align: center;

  font-size: 40px;
}

.title input {
  text-align: center;
}

.text input {
  text-align: center;
  font-size: 20px;
  padding: 5px 20px;
  background-color: white;

  margin-block: 5px;
  height: fit-content;
}

.NaturalDisasters button {
  margin-right: 5px;
}
