.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 50px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 300;
  color: black;
  margin: 0;
}

.logo span:nth-child(1) {
  color: deeppink;
}
.logo span:nth-child(2) {
  color: deepskyblue;
}
.logo span:nth-child(3) {
  color: darkseagreen;
}
.logo span:nth-child(4) {
  color: pink;
}
.logo span:nth-child(5) {
  color: orange;
}
.logo span:nth-child(6) {
  color: dodgerblue;
}

.header nav {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.header nav a {
  text-decoration: none;
  color: var(--gray);
  font-weight: 500;
  transition: color 0.3s ease;
}

.header nav a:hover {
  color: #3498db;
}
