.board {
  position: relative;
  order: 1;
}

.field {
  font-family: 'Roboto';
  font-size: 40px;
  text-align: center;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.9);
  user-select: none;
  transition: all 200ms linear;
}

.openField {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.closedField {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.board {
  height: 80vh;
}

.board table {
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
  height: 80%;
  table-layout: fixed;
}

.firstColumn {
  width: 40px;
}

.board tbody tr:first-of-type td:last-of-type {
  border-top-right-radius: 16px;
  overflow: hidden;
}

.board tbody tr:first-of-type td:nth-of-type(2) {
  border-top-left-radius: 16px;
  overflow: hidden;
}

.board tbody tr:last-of-type td:nth-of-type(2) {
  border-bottom-left-radius: 16px;
  overflow: hidden;
}

.board tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 16px;
  overflow: hidden;
}

.edit,
.save {
  font-family: 'Roboto', sans-serif;

  font-size: 20px;
  position: absolute;
  height: 50px;
  border: none;
  border-radius: 6px;
  top: -60px;
  right: 0px;
  background: transparent;
}

.save {
  right: 50px;
}

.smallText {
  font-size: 16px;
  margin: 0;
}

.board input {
  font-size: 20px;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
  margin: 0;
}

/* Числа рядом с таблицей */
.board table th {
  font-size: 40px;
  font-weight: normal;
  padding: 10px;
}

.board td:first-of-type {
  font-size: 40px;
}

@media (max-width: 1300px) {
  .field {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .field {
    font-size: 12px;
  }
}
