.Bricks {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  padding: 50px;
  column-gap: 50px;
  background-image: url('https://fsd.multiurok.ru/html/2023/11/09/s_654c73eb4d655/phpurA0o1_ARTIKULYACIOAYA-GINASTIKA---1_html_d4de9213c993a971.jpg');
  background-size: cover;

  padding-top: 5%;
}

.Bricks a {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 32px;
  text-decoration: none;
  color: var(--gray);
}

.board {
  position: relative;
  order: 1;
}

.field {
  font-family: 'Roboto';
  font-size: 40px;
  text-align: center;

  height: 20%;

  background-color: rgba(255, 255, 255, 0.9);
  user-select: none;

  transition: all 200ms cubic-bezier(0, -0.3, 0.5, 1);
}

.board table {
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
  height: 80%;
  table-layout: fixed;
}

/* Числа рядом с таблицей */
.board table th {
  font-size: 40px;
  font-weight: normal;
  padding: 10px;
}

.board td:first-of-type {
  font-size: 40px;
}
/* ----- */

.firstColumn {
  width: 40px;
}

.firstLine td:last-of-type {
  border-top-right-radius: 16px;
}

.firstLine td:nth-of-type(2) {
  border-top-left-radius: 16px;
}

.board table tr:last-of-type td:nth-of-type(2) {
  border-bottom-left-radius: 16px;
}

.lastLine td:last-of-type {
  border-bottom-right-radius: 16px;
}

/* Колонка слева */
.bricks {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.numbers {
  font-size: 120px;
}

.bricks button {
  width: fit-content;
  height: 40px;
  border-radius: 6px;
  border: none;

  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 300;
  background-color: transparent;
  backdrop-filter: blur(15px);
  transition: box-shadow 0.3s ease-in;
}

.bricks button:hover {
  box-shadow: 0 0 10px;
}

.bricks button:active {
  box-shadow: 0 0 10px inset;
}

.edit,
.save {
  font-family: 'Roboto', sans-serif;

  font-size: 20px;
  position: absolute;
  height: 50px;
  border: none;
  border-radius: 6px;
  top: -60px;
  right: 0px;
  background: transparent;
}

.save {
  right: 50px;
}

.smallText {
  font-size: 16px;
  margin: 0;
}

.board input {
  font-size: 20px;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
  margin: 0;
}

@media (max-width: 1300px) {
  .Bricks {
    grid-template-columns: 1fr;
    align-content: center;
    padding-top: 100px;
  }

  .field {
    font-size: 24px;
  }

  .board {
    height: 80vh;
  }
}

@media (max-width: 600px) {
  .Bricks {
    grid-template-columns: 1fr;
  }

  .field {
    font-size: 12px;
  }
}
