.Bricks {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  padding: 50px;
  column-gap: 50px;
  background-image: url('https://fsd.multiurok.ru/html/2023/11/09/s_654c73eb4d655/phpurA0o1_ARTIKULYACIOAYA-GINASTIKA---1_html_d4de9213c993a971.jpg');
  background-size: cover;

  padding-top: 5%;
}

.Bricks a {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 32px;
  text-decoration: none;
  color: var(--gray);
}

.numbers {
  font-size: 120px;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.numbers button {
  width: fit-content;
  height: 40px;
  border-radius: 6px;
  border: none;

  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 300;
  background-color: transparent;
  backdrop-filter: blur(15px);
  transition: box-shadow 0.3s ease-in;
}

.numbers button:hover {
  box-shadow: 0 0 10px;
}

.numbers button:active {
  box-shadow: 0 0 10px inset;
}

@media (max-width: 1300px) {
  .Bricks {
    grid-template-columns: 1fr;
    align-content: center;
    padding-top: 100px;
  }
}

@media (max-width: 600px) {
  .Bricks {
    grid-template-columns: 1fr;
  }
}
