.Bricks {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  align-items: center;
  padding: 50px;
  column-gap: 50px;
  background-image: url('https://fsd.multiurok.ru/html/2023/11/09/s_654c73eb4d655/phpurA0o1_ARTIKULYACIOAYA-GINASTIKA---1_html_d4de9213c993a971.jpg');
  background-size: cover;
}

.Bricks a {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 32px;
  text-decoration: none;
  color: var(--gray);
}

.board {
  position: relative;
  order: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  border-bottom: 2px solid var(--gray);
  border-right: 2px solid var(--gray);
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 2px solid var(--gray);
  border-left: 2px solid var(--gray);

  min-height: 100px;
  width: 100%;

  font-family: 'Roboto';
  font-size: 40px;
  text-align: center;

  background-color: rgba(255, 255, 255, 0.9);
  user-select: none;
}

/* Колонка слева */
.bricks {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.numbers {
  font-size: 120px;
}

.bricks button {
  width: fit-content;
  height: 40px;
  border-radius: 6px;
  border: none;

  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 300;
  background-color: transparent;
  backdrop-filter: blur(15px);
}

.edit,
.save {
  font-family: 'Roboto', sans-serif;

  font-size: 20px;
  position: absolute;
  height: 50px;
  border: none;
  border-radius: 6px;
  top: -60px;
  right: 0px;
  background: transparent;
}

.save {
  right: 50px;
}

.smallText {
  font-size: 16px;
  margin: 0;
}

.board input {
  font-size: 20px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
  margin: 0;
}
