@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Roboto';
  --gray: #7f8c8d;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
